body {
	font-family: 'Signika', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif,
		'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
	/* color: #495057; */
}

header {
	padding: 1rem 0;
	color: white;
	background-color: #bd5d38;
}

h1 {
	text-align: center;
}

footer {
	color: white;
	padding: 2rem 0;
	background-color: white;
}
span {
	font-size: 1.5rem;
}

.btn_header {
	margin-left: 1rem;
}

p.link {
	text-align: center;
}

p.des {
	font-size: 1.17rem;
	font-weight: 400;
	text-align: justify;
	/* margin-right: 1rem; */
	color: #495057;
}

.img_size {
	width: 50%;
	border-radius: 10px;
}

.img_size_phn {
	width: 25%;
	border-radius: 10px;
}

.btn_footer {
	margin: 0 1rem;
}

/* project link anchor */
a {
	font-size: 1.17rem;
	color: orange;
	text-decoration: none;
}

a:hover,
a:focus,
a:active {
	color: #bd5d38;
	/* text-decoration: none; */
}

/* ---------------------- image zoom effect------------------ */
input[type=checkbox] {
	display: none;
}

.zoom,
.zoom2,
.zoom3,
.zoom4,
.zoom5,
.zoom6,
.zoom7,
.zoom8,
.zoom9 {
	transition: transform 0.25s ease;
	cursor: zoom-in;
}

input[type=checkbox]:checked ~ label > .zoom {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom2 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom3 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom4 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom5 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom6 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom7 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom8 {
	transform: scale(1.6);
	cursor: zoom-out;
}

input[type=checkbox]:checked ~ label > .zoom9 {
	transform: scale(1.6);
	cursor: zoom-out;
}

@media (max-width: 992px) {
	.phn_padding {
		padding: 1rem 1rem 0 1rem;
	}
}

@media (max-width: 575px) {
	.img_size {
		width: 80%;
	}

	.img_size_phn {
		width: 55%;
	}
}
