.font-size-17 {
  font-size: 17px !important;
}
.subheading {
  font-family: var(--font-stylish);
  /* text-decoration: underline 7px rgba(255, 255, 255, 0.219); */
}

/********************** custom cursor with following trail--start **********************/

#cursor {
  position: fixed;
  z-index: 99;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
  mix-blend-mode: difference;
}

@media (hover: hover) and (pointer: fine) {
  .cursor__circle {
    width: 64px;
    height: 64px;
    margin-top: -50%;
    margin-left: -50%;
    border-radius: 50%;
    border: solid 1px rgba(227, 222, 193, 0.64);
    transition: opacity 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      background-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      border-color 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      width 0.3s cubic-bezier(0.25, 1, 0.5, 1),
      height 0.3s cubic-bezier(0.25, 1, 0.5, 1);
  }

  #cursor.arrow .cursor__circle {
    width: 128px;
    height: 128px;
    background-color: #ffffff41;
    border-color: #ffffffa2;
  }

  #cursor.arrow::after {
    content: "";
    position: absolute;
    left: -50%;
    top: -50%;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }

  #cursor.subtle .cursor__circle {
    opacity: 0.16;
  }

  #cursor.overlay .cursor__circle {
    width: 48px;
    height: 48px;
    background-color: rgba(227, 222, 193, 0.08);
    border-color: transparent;
  }
}

/********************** custom cursor with following trail--end **********************/

.social-share li a img {
  width: auto;
  height: 41px;
}

.disc {
  max-width: 810px;
  margin: 0px;
  padding: 0px 0px 10px 0px;
  text-align: justify;
}

.experience-image img {
  width: 250px;
  /* height: 250px; */
}
.pointer-location::after {
  right: 102% !important;
}

.academic-title h6 {
  font-size: 20px;
  color: var(--color-lightn);
  font-weight: 400;

  line-height: 1.4;
}

.academic-title h4 {
  font-size: 26px;
  color: var(--color-lightn);
  font-weight: 500;
}

.grade-text {
  color: #ff014f !important;
  letter-spacing: 1px;
}

.developer-skill img {
  width: 25px;
}

.date {
  padding: 2px 8px;
  border-radius: 20px;
  background-color: #545961;
  font-size: 14px;
  color: var(--color-lightn);
}

.carousel-control-prev {
  left: -40px;
}

.carousel-control-next {
  right: -40px;
}

.carousel-control-next,
.carousel-control-prev {
  position: absolute;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  text-align: center;
  opacity: 1;
  transition: opacity 0.15s ease;
  width: 20px;
  height: 20px;
  top: 50%;
  transform: translateY(-50%);
  padding: 30px;
  border-radius: 50%;
  box-shadow: var(--shadow-1);
  background-color: #212428;
}

.thumbnail a img {
  /* width: 310px; */
  height: 233px !important;
}

/****************************project start************************************/
.rn-portfolio {
  width: 100%;
}

.project-tech-title {
  font-size: 20px;
  color: #c4cfde;
  font-weight: 400;
  margin-bottom: 7px;
  line-height: 1.4;
}

.nav-item .nav-link img {
  width: 28px;
}

.project-tech-modal {
  padding: 4px 8px !important;
  margin: 2px !important;
}

.project-tech-modal img {
  height: 21px;
  margin-right: 4px;
}

.project-link {
  border-top: 1px solid rgb(46, 45, 45);
  padding-top: 20px;
}

.project-link .button-group a {
  margin-left: 0px;
  /* padding: 10px 12px; */
}

.project-link .button-group a img {
  width: 24px;
}
/**************************** project end ****************************/

/* what I do start */
.icon img {
  width: 50px;
  height: 50px;
}
/* what I do end */

/* skill start */
.skill-share-inner .button-group .rn-btn {
  margin: 5px;
  font-size: 16px;
  padding: 10px 23px !important;
}
.skill-share-inner .button-group .rn-btn img {
  margin-right: 5px;
  width: 28px;
  /* height: 28px; */
}
/* skill end */


/* ********************* */
/* CSS for responsive iframe */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
max-width: 812px;
max-height: 100%; 
overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
position: relative;
height: 0;}

.responsive-wrapper iframe {
position: absolute;top: 0;
left: 0;width: 100%;height: 100%;margin: 0;
padding: 0;border: none;}

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
padding-bottom: 107%;
}

/* general styles */
/* ============== */
.set-border {
border: 5px inset #ddd;
}
.set-box-shadow { 
-webkit-box-shadow: 4px 4px 14px #4f4f4f;
-moz-box-shadow: 4px 4px 14px #4f4f4f;
box-shadow: 4px 4px 14px #4f4f4f;
}
.set-padding {
padding: 10px;
}
.set-margin {
margin: 30px;
}
.center-block-horiz {
margin-left: auto !important;
margin-right: auto !important;
}
